

#login {
    float: right;
}

#carrinho {
    width: 30px;
    height: 20px;
    float: right;
    filter: invert(100%);
    color: black;
}

.links{

    color: #0074B7;
    text-decoration: none;

}

.links:hover{
    color: #BFD7ED;
}